spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:mysql-container}:3306/caro_db?useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    redis:
      host: ${REDIS_HOST:redis-container}
      port: 6379

server:
  port: ${APP_PORT:8080}

logging:
  level:
    root: INFO
